<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion House</title>


    <link rel="shortcut icon" href="images/icons-images/Fashinhouse_Logo-1.png" type="image/x-icon">

    
    <!-- Link Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Links CSS -->
    <link rel="stylesheet" href="static/css/header.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/media.css">
    <link rel="stylesheet" href="static/css/footer.css">

    <!-- Link Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">


  </head>

  <body>


    <!-- Js Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>



    <!-- Initial Project -->
    <!-- Menu Header -->
    <div class=" container-fluid ">
      <header class="ctrl-container">
        <!-- Icons Links -->
        <div class="content-box box-icons">
          <a href="https://www.facebook.com/" name='Links-Icons' class=""><i class=" icons-header bi bi-facebook"></i></i></a>
          <a href="https://x.com/" name='Links-Icons' class=""><i class=" icons-header bi bi-twitter"></i></i></a>
          <a href="https://www.instagram.com/" name='Links-Icons' class=""><i class=" icons-header bi bi-instagram"></i></i></a>
          <a href="index.html" name='Links-Icons' class=""><i class=" icons-header bi bi-house"></i></i></a>
        </div>

        <!-- Title Principal -->
        <div class="content-box box-center">

        

          <h4 class="title">FASHION</h4>
          <p class="mini-title">HOUSE</p>
        </div>

        <!-- NavBar -->
        <nav class="content-box">
          <ul class="ul-header">
            <li>
              <a href="index.html" class="links">Home</a>
              <a href="#" class="links">Produtos</a>
              <a href="#" class="links">Sobre Nós</a>
              <a href="contato.html" class="links">Contate-nos</a>
            </li>
          </ul>
        </nav>
      </header>
    </div>

    <div class="container-fluid">Vista-se com autenticidade e deixe sua individualidade brilhar!</div>

    <main id="pagina_pricipal">
      




      <div id="geral_conteiner">
        <main class="container-fluid" style="background-color: transparent;">
          <div class="content-center-principal">
            <div class="opacity"></div>
            <h1>FASHION HOUSE</h1>
            <div class="text-mini">
              Você já se imaginou em montar seus looks para as mais diferentes ocasiões, de forma prática, rápida e eficiente? Então, tudo isso você encontra aqui, na Fashion House, monte e remonte o seu guarda roupa, com mais confiança e autenticidade.
            </div>
            <div class="content-btns">
              <button type="button" class="btn-center" id="btn1">LOGIN</button>
              <button type="button" class="btn-center" id="btn2">REGISTRAR-SE</button>
            </div>
          </div>
        </main>
  
  
        <!-- Cards -->
        <section class="sect-cards groupImagens" style="padding-bottom: 2.5rem;">
  
  
          
                <section class="groupImagens container-fluid">
          
                  <div class="cartoes">
          
                    <div class="card cartao" style="width: 18rem;">
                      <div class="espace-fotos">
                        <img src="images/Persons-images/estilo-feminino-1.jpg" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Punk</h5>
                        <p class="card-text">Estilo rebelde, com roupas rasgadas, jaquetas de couro, camisetas com estampas gráficas e acessórios de metal.</p>
                        <a href="#" class="btn btn-warning">Saiba mais</a>
                      </div>
                    </div>
             
                     <div class="card cartao" style="width: 18rem;">
                      <div class="espace-fotos">
                        <img src="images/Persons-images/estilo-feminino-2.jpg" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Étinico</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-warning">Saiba mais</a>
                      </div>
                    </div>
             
                    <div class="card cartao" style="width: 18rem;">
                      <div class="espace-fotos">
                        <img src="images/Persons-images/estilo-feminino-3.jpg" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Preppy</h5>
                        <p class="card-text">Elegante e formal, inspirado nos uniformes escolares, com peças como polos, suéteres, blazers e saias rodadas.</p>
                        <a href="#" class="btn btn-warning">Saiba mais</a>
                      </div>
                    </div>
             
                    <div class="card cartao" style="width: 18rem;">
                      <div class="espace-fotos">
                        <img src="images/Persons-images/estilo-feminino-4.jpg" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Classico</h5>
                        <p class="card-text">Elegante, atemporal e sofisticado, com peças de cortes simples, cores neutras e materiais de qualidade.</p>
                        <a href="#" class="btn btn-warning">Saiba mais</a>
                      </div>
                    </div>  
          
                    
                
                </section>
                  
                <section class="groupImagens container-fluid">
          
          
                  <div class="cartoes ">
          
                    <div class="card cartao" style="width: 18rem;">
                      <div class="espace-fotos">
                        <img src="images/Persons-images/estilo-masculino-4.jpg" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Rock'n'Roll</h5>
                        <p class="card-text">Inspirado na estética dos músicos de rock, com jaquetas de couro, camisetas de bandas e botas pesadas.</p>
                        <a href="#" class="btn btn-warning ">Saiba mais</a>
                      </div>
                    </div>
             
                     <div class="card cartao" style="width: 18rem;">
                      <div class="espace-fotos">
                        <img src="images/Persons-images/estilo-masculino-2.jpg" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Casual</h5>
                        <p class="card-text">Confortável e descomplicado, com roupas mais soltas e peças do dia a dia, como jeans, camisetas e tênis.</p>
                        <a href="#" class="btn btn-warning">Saiba mais</a>
                      </div>
                    </div>
             
                    <div class="card cartao" style="width: 18rem;">
                      <div class="espace-fotos">
                        <img src="images/Persons-images/estilo-masculino-3.jpg" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Vintage</h5>
                        <p class="card-text">Estilo nostálgico, que mistura roupas antigas de diferentes décadas ( aos anos 1980), com tecidos clássicos e cortes retrô. </p>
                        <a href="#" class="btn btn-warning">Saiba mais</a>
                      </div>
                    </div>
             
                    <div class="card cartao" style="width: 18rem;">
                      <div class="espace-fotos">
                        <img src="images/Persons-images/estilo-masculino-1.jpg" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">StreetWear</h5>
                        <p class="card-text">Com influência do estilo urbano e da cultura pop, combina roupas com tênis e gráficos ousados.</p>
                        <a href="#" class="btn btn-warning">Saiba mais</a>
                      </div>
                    </div>  
                  
          
                </section>
          
              </div>
  
        </section>

    </main>
    
  </div>
  <!-- Rodapé -->

  <section class="secao-depoimentos">
    
    <h1>Depoimentos</h1>

    <div class="depoimentos-cards outros-cartoes">
      <div class="user">
        
        <img class="user-img" src="images/clothes-images/Imagens das roupas/Casamento.jpg" alt="">
        <h3>Patricia Lemos</h3>
        
        <div class="stars">
          <img src="images/icons-images/star.svg" alt="">
          <img src="images/icons-images/star.svg" alt="">
          <img src="images/icons-images/star.svg" alt="">
          <img src="images/icons-images/star.svg" alt="">
          <img src="images/icons-images/star.svg" alt="">
        </div>

        <p>"Eu estou completamente apaixonada pelo look que o site criou para mim! Era exatamente o que eu queria para o casamento, com um toque de sofisticação e elegância, mas sem perder meu estilo pessoal. A combinação das cores e dos acessórios ficou perfeita, e o vestido caiu como uma luva! Recebi tantos elogios e me senti confiante e radiante durante toda a festa. Realmente superou minhas expectativas. Vou recomendar para todas as minhas amigas!"</p>

      </div>

      
      
      <div class="user destruidor-mundos">
        
        
        <img class="user-img " src="images/clothes-images/Imagens das roupas/George Russell.jpg"  alt="">
        <h3>Denise e Patrick</h3>
        
        <div class="stars">
          <img src="images/icons-images/star.svg" alt="">
          <img src="images/icons-images/star.svg" alt="">
          <img src="images/icons-images/star.svg" alt="">
          <img src="images/icons-images/star.svg" alt="">
          <img src="images/icons-images/star.svg" alt="">
        </div>
        
        <p>"Estamos simplesmente apaixonados pelos looks que o site criou para nós! Ficamos encantados ao ver como nossos visuais combinavam perfeitamente, com cores e estilos que se complementaram de forma super elegante. Queríamos algo especial para o casamento, e o site captou exatamente o que imaginávamos! Nos sentimos super conectados e recebemos muitos elogios por estarmos tão em sintonia. Com certeza, vamos recomendar para todos os nossos amigos e usar o site para futuras ocasiões especiais!"</p>
      </div>
      

      <div class="user">
        
        <div class="carrosel-cards ">
          


        </div>

        <img class="user-img" src="images/clothes-images/Imagens das roupas/Streetwear masculino.jpg" alt="">
        <h3>Pedro Matheus</h3>

        <div class="stars">
          <img src="images/icons-images/star.svg" alt="">
          <img src="images/icons-images/star.svg" alt="">
          <img src="images/icons-images/star.svg" alt="">
          <img src="images/icons-images/star.svg" alt="">
          
        </div>

        <p>"Fiquei muito satisfeito com o look streetwear que o site criou para mim! A combinação de peças foi exatamente o que eu procurava: casual, estilosa e com muita personalidade. As sugestões de roupas e acessórios se encaixaram perfeitamente no meu estilo, sem esforço, e eu me senti confiante com o visual. Foi prático, rápido e o resultado ficou melhor do que eu esperava. Com certeza vou voltar ao site para montar outros looks!"</p>

      </div>

    </div>
    
  </section>

  <br>

  
  <footer class="footer">
    <div class="ctrl-container-footer">
        <div class="box-1">
            
            <div class="boxing-icons">
                <i class="bi-instagram"></i>
                <i class="bi-facebook"></i>
                <i class="bi-github"></i>
                <i class="bi-twitter"></i>
                <i class="bi-youtube"></i>
            </div>
        </div>
        <div class="box-footer-final">
            <h1>COMPANIA</h1>
            <div class="content-footer">
                <li>
                    <a href="#">Sobre nos</a>
                    <a href="{% url 'contact' %}">Contate-nos</a>
                    <a href="#">FAQ</a>
                    <a href="#">Politicas de privacidade</a>
                    <a href="{% url 'home' %}">Home</a>
                </li>
            </div>
        </div>
        <div class="box-footer-final">
            <h1>SERVIÇOS</h1>
            <div class="content-footer">
                <li>
                    <a href="#">Minha conta</a>
                    <a href="{% url 'canais' %}">Contantos</a>
                    <a href="#">Enquetes</a>
                    <a href="#">Podcasts</a>
                </li>
            </div>
        </div>

        <div class="box-footer-final">
            <h1>EXPLORAR</h1>
            <div class="content-footer">
                <li>
                    <a href="#">Ferramentas e Customização</a>
                    <a href="#">Termos de usuário</a>
                    <a href="{% url 'equipe' %}">Nossa Equipe</a>
                    <li># Ajuda</li>
                </li>
            </div>
        </div>

    </div>
    <div class="footer-content">
        <p>&copy; 2024 Fashion House e Team Penguin. Todos os direitos reservados.</p>
        <!-- <p>, procure ajuda. Não está sozinho.</p> -->
        <!-- <div class="links">
            <a href="#" target="_blank">Facebook</a>
            <a href="#" target="_blank">Instagram</a>
            <a href="#" target="_blank">Twitter</a>
        </div> -->
    </div>
</footer>
    
    

  </body>

</html>