/*--- Geral  ---*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #ECE5D5;
    overflow-x: hidden; 
}


/* Root */

:root{
    --background-principal: url(../../images/backgrounds-images/background-image-4.jpg);
    --pixels-header: 450px;
    --pixels-font-title-center: 4.5rem;
    --transition-default: .5s ease all;
}

.linha2{
    background-color: #523024;
}

    /*--- Cards  ---*/

    .sect-cards{
        top: 120%;
        width: 100%;
        position: relative
    }

    .groupImagens{
        background-color: #ECE5D5;
    }


    .cartoes{
        background-color: transparent;
        display: flex ;
        flex-wrap: nowrap;
        
    }

    .cartao{
        background-color: #442014;
        margin:1%; 
        border-radius: 0;
    }

    .espace-fotos{
        margin: 1vh;
        background-color:transparent;
    }

    .espace-fotos img{
        transition: .6s ease scale;
    }

    .espace-fotos img:hover{
        scale: 1.05;
        cursor: pointer;
    }
    .btn{
        border-radius: 0;
        transition: var(--transition-default);
    }

    .btn:hover{
        color: #fff;
        background-color: #2d0b00;
        scale: 1.1;
    }

main[class = 'container-fluid']{
    background-image: var(--background-principal);
    height: 100vh;
    border: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    z-index: -1;
}

.content-center-principal{
    width: 55%;
    height: var(--pixels-header);
    border: 5px solid #543226;
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
    background-color: #2d0b00d7;
    z-index: -1;
}

.content-center-principal h1{
    font-size: var(--pixels-font-title-center);
    font-weight: 200;
    text-shadow: 0 0 10px #fff;
    letter-spacing: 1.3rem;
    text-align: center;
}

.text-mini{
    font-size: .8rem;
    text-align: center;
    width: 90%;
    text-transform: uppercase;
}


.content-btns{
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-center{
    width: 220px;
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    transition: .6s ease scale;
    border-radius: 25px;
    border: none;
    margin: auto 10px;
    margin-top: 20px;
}

.btn-center:hover{
    scale: 1.1;
}

#btn1{
    background-color: #b5773f;
    font-size: 1.2rem;
}

#btn2{
    background-color: #2d0b00;
    color: #fff;
    font-size: 1.2rem;
}


.card-text{
    font-weight: 200;
}

/* Coisas a Melhorar no Design */

.cartoes .card:nth-child(even) .btn{
    background-color: #b5773f;
    border-radius: 10px;
}
.cartoes .card:nth-child(odd) .btn{
    background-color: #b5773f;
    border-radius: 10px;
}


/*--------------------*/
/*--- Cometarios ---*/

.secao-depoimentos{
    background-color: #ECE5D5;
}

.secao-depoimentos h1{
    display: flex;
    justify-content: center;
    color: #442014;
    margin: 0rem 0 1rem 0;
    font-size: 40px;
}

.depoimentos-cards{
    display: flex;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    
    

}

.user{
    background-color: #543226;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 40px;
    border-radius: 10px;
    text-align: justify;
}


.user h3 {
    text-align: center;
}

.stars img{
    width: 20px;
    margin-bottom: 10px;
    
    
}

.user-img{
    width: 100px;
    border-radius: 20px ;
    margin-bottom: 10px;
}
/*---------------------*/

.contatenos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #543226;
}

.contatenos h2{
    align-items: center;
}


/*---------------------*/

/*--- footer ---*/

:root{
    --space-footer: 0 5%;
    --color-back-footer: #111111;
    --title-color-font-footer: #cfd0d4;
    --font-icons-footer: 1.2rem;
    --linear-gradient-footer-content: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(254,0,10,1) 62%, rgba(255,119,124,1) 100%);; 
    --padding-input-footer: 15px;
    --space-letter: 1.5px;
    --font-size-footer: 1rem;
}

.footer {
    color: #333;
    text-align: center;
    padding: var(--space-footer); 
    bottom: 0;
    width: 100%;
    height: auto;
    font-weight: 500;
    background-color: var(--color-back-footer);
    color: #fff;
    padding: 20px 5%;
}

.ctrl-container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ctrl-container-footer label{
    text-transform: capitalize;
}

:is(label[for='id_e_mail'], label[for='id_data_nascimento']){
    font-size: .7rem;
    letter-spacing: var(--space-letter);
}

form[name = 'footer-form']{
    display: flex;
    flex-direction: column;
}

form[name = 'footer-form'] :is(label, input){
    display: flex;
    margin: 10px 10px 10px 0;
}

form[name = 'footer-form'] input{
    padding: var(--padding-input-footer);
}

#id_e_mail{
    min-width: 300px;
}

#id_data_nascimento{
    width: 100%;
}

.content-inputs-footer{
    display: flex;
}


form[name = 'footer-form'] button{
    padding: var(--padding-input-footer);
    width: 100%;
    background-color: var(--color-back-footer);
    border: 2px solid #fff;
    color: #fff;
    letter-spacing: var(--space-letter);
    cursor: pointer;
    transition: .4s ease background;
    margin: 15px 0;
}

form[name = 'footer-form'] button:hover{
    background: #fff;
    color: var(--color-back-footer);
    font-weight: bold;
}

.text-increment{
    display: flex;
    max-width: 550px;
    font-size: .7rem;
}

.boxing-icons {
    display: flex;
    max-width: 550px;
    height: 60px;
    margin: 10px 0;
    align-items: center
}

.content-inputs-footer p:nth-last-child(odd){
    width: 100%;
}

.boxing-icons i{
    font-size: 1.2rem;
    border: 1px solid #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10000px;
    height: 65%;
    margin: 0 10px;
    cursor: pointer;
    color: #b7b7b7;
}
.box-footer-final{
    width: 350px;
    margin: 5px;
    justify-items: baseline;
    padding: 0 20px;
}

.box-footer-final h1{
    font-size: var(--font-size-footer);
    font-weight: 400 ;
    margin: 0 0 20px 0;
}

.content-footer :is(li, a){
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 4px 0;
    opacity: .5;
    transition: .5s ease opacity;
}

.content-footer a:hover{
    opacity: 1;
}

.footer-content{
    display: flex;
    justify-content: center;
}

.btn[name='Button-index']{
    width: 120px;
}

.btn-warning{
    border: none;
}

.space-depoimentos{
    padding: 0 5%;
    gap: 5px;
    flex-wrap: wrap;
}

.card[name='card-depoimentos'] 
:is(.card-title, .card-text, .text-body-secondary
){
    color: #000;
}